@mixin animationfromright {
  @keyframes AnimationFromRight {
    0% {
      margin-left: 20px;
      opacity: 0;
    }

    100% {
      margin-left: 0;
      opacity: 1;
    }
  }
}

@mixin animationfromleft {
  @keyframes AnimationFromLeft {
    0% {
      margin-left: -20px;
      opacity: 0;
    }

    100% {
      margin-left: 0;
      opacity: 1;
    }
  }
}

@mixin animationfrombottom {
  @keyframes AnimationFromBottom {
    100% {
      margin-top: 0;
      opacity: 1;
    }
  }
}

@mixin animationfromtop {
  @keyframes AnimationFromTop {
    0% {
      margin-top: 20px;
      opacity: 0;
    }
    100% {
      margin-top: 0;
      opacity: 1;
    }
  }
}

@mixin menuiconshow {
  @keyframes menuIconShow {
    0% {
      margin-left: -20px;
      opacity: 0;
    }

    100% {
      margin-left: 0;
      opacity: 1;
    }
  }
}
