%before-after {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
%hover-pink-line {
  &:before {
    @extend %before-after;
    background-color: $color-pink;
    display: block;
    height: 6px;
    top: calc(50% - 6px);
    transition: width .2s;
    width: 0;
    z-index: -1;
  }

  @include desktop {
    &:hover {
      transition: width .2s;
      &:before {
        width: 100%;
      }
    }
  }
}
%hover-pink-line-small {
  &:before {
    @extend %before-after;
    background-color: $color-pink;
    display: block;
    height: 3px;
    top: calc(50% - 3px);
    transition: width .2s;
    width: 0;
    z-index: -1;
  }

  @include desktop {
    &:hover {
      transition: width .2s;
      &:before {
        width: 100%;
      }
    }
  }
}
