$color-black: #000;
$color-grey-20: lighten($color-black, 20%);
$color-grey-40: lighten($color-black, 40%);
$color-grey-60: lighten($color-black, 60%);
$color-grey-80: lighten($color-black, 80%);
$color-pink: #e3008c;
$color-white: #fff;

.is-lighter {
  font-weight: lighter;
}
.is-normal {
  font-weight: normal;
}
.is-bold {
  font-weight: bold;
}
.is-selected, .is-active {
  color: $color-pink;
}
.is-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;

  &-end {
    justify-content: flex-end;
  }
}
.is-pointer {
  cursor: pointer;
}
.is-lighter {
  font-weight: lighter;
}

.is-title-section {
  @extend .is-bold;
  @extend .is-uppercase;
  @extend .has-text-centered;
  @extend .has-text-centered;
  font-size: 3.5em;
  letter-spacing: 20px !important;

  span {
    font-size: 45%;
    display: block;
    font-weight: lighter;
    letter-spacing: 25px !important;
  }
}

.separation {
  border-top: 1px solid $color-grey-80;
  height: 1px;
  width: 100%;
}

.before-after {
  content: "";
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.no-letter-spacing {
  color: $color-grey-60;
  font-weight: lighter;
  letter-spacing: -3px;
}

.is-separation {
  margin: 20px 0;
}

.is-pos-relative {
  position: relative;
}
.is-vertical {
  width: 20px;
}
.is-flex-center {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.is-flex-center-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.is-chinese {
  font-family: 'Noto Sans TC', 'Microsoft Yahei', '微軟正黑體', sans-serif;
}
