@import '~bulma';
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import 'helpers';
@import 'extends';
@import 'animation';

@import 'common/loading';
@import 'common/logo';
@import 'common/developer';
@import 'common/social';
@import 'common/menu-icon';
@import 'common/menu';
@import 'common/scroll-icon';
@import 'common/footer';

@import 'page/error';
@import 'page/landing';
@import 'page/about';
@import 'page/contact';
@import 'page/article';


* {
  -webkit-tap-highlight-color: transparent !important;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  color: $color-black;
  font-family: 'Noto Sans TC', 'Microsoft Yahei', '微軟正黑體', sans-serif;
  letter-spacing: 2px;

  &.zh {
    letter-spacing: 2px;
  }
}

a {
  color: $color-black;
  position: relative;
  transition: color .4s;
  &:hover {
    color: $color-pink;
  }
}

.is-paragraph {
  font-size: 16px;
  line-height: 30px;
  @include mobile {
    font-size: 4vw;
    line-height: 2;
  }
}

ul {
  margin-left: 0;
  li {
    list-style: none;
  }
}

p {
  &.is-underline {

    position: relative;

    &::before {
      @extend %before-after;
      background-color: $color-black;
      bottom: 0;
      height: 5px;
      top: inherit;
    }
  }
}

.title {
  font-family: 'Josefin Sans', 'Noto Sans TC', 'Microsoft Yahei', '微軟正黑體', sans-serif;
  line-height: 1.5em;
}

.is-uppercase {
  font-family: 'Josefin Sans', 'Noto Sans TC', 'Microsoft Yahei', '微軟正黑體', sans-serif;
  letter-spacing: 2.2px;
}

.is-pink {
  color: $color-pink;
}
.hero {
  &.is-pink {
    .hero-head,
    .hero-body,
    .hero-foot {
      background-color: $color-pink;
    }
    * {
      color: $color-white;
    }
  }
}
