@import "~bulma";
@import "helpers";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import "menu";
@import "about";

html, body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

body {
  color: $color-black;
  font-family: 'Roboto', 'Noto Sans TC', '微軟正黑體', sans-serif;
  letter-spacing: 2px;

  &.zh {
    letter-spacing: 2px;
  }
}

a {
  color: $color-black;
  position: relative;
  transition: color .4s;
  &:hover {
    color: $color-pink;
  }
}

p.text {
  line-height: 28px;
  &.zh {
    line-height: 30px;
  }
}

.title {
  line-height: 1.5em;
}

.is-uppercase {
  letter-spacing: 2.2px;
}

.is-pink {
  color: $color-pink;
}

section.hero {
  .hero-head,
  .hero-foot,
  .hero-body {
    z-index: 10;
  }
  .hero-body {
    padding: 0;
  }
  .hero-head {
    padding: 50px;
    padding-bottom: 0;
  }
  .hero-foot {
    padding: 50px;
    padding-top: 0;
  }
}

.main-container {
  position: relative;
}

.landing-page {
  overflow: hidden;
  position: relative;
  .title.is-1 {
    color: $color-pink;
    margin-bottom: 0.3em;
    transition: all .4s;
    letter-spacing: 6px;
    &:hover {
      color: $color-black;
    }
    span {
      color: $color-black;
      @extend .is-bold;

    }
  }
  .title.is-6 {
    line-height: 1.5em;
  }
  .socials {
    p {
      margin-bottom: 15px;
      line-height: 15px;
    }
    a {
      margin-left: 20px;
      line-height: 20px;
    }
  }

  .particles-container {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

#contact {
  background-color: $color-white;
  height: 100%;
  left: -2000px;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: left .4s, opacity .6s;
  &.show {
    left: 0;
    opacity: 1;
  }
}

.loading {
  background: $color-white;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;

  opacity: 0;
  top: -2500px;

  transition: opacity 1s, top 2s;

  &.show {
    opacity: 1;
    top: 0;
  }

  &.hide {
    display: none;
  }
}
