.instafeeds {
  @include desktop {
    margin-bottom: 20px;
  }
  position: relative;

  &::after {
    @extend %before-after;
    background-color: $color-pink;
    opacity: .4;
  }

  .column {
    height: 16.66667%;
    opacity: .6;
  }
}
