.loading {
  background-color: $color-white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;

  &.hide {
    animation: LoadingAnimation 2s ease 1;
    animation-fill-mode: forwards;

    @keyframes LoadingAnimation {
      10% {
        background-color: $color-pink;
        color: $color-white;
      }
      100% {
        background-color: $color-pink;
        color: $color-white;
        top: -2000px;
      }
    }
  }

}
