$menu-hide-scale: 0.85;
$menu-show-scale: 1;

.menu-container {
  background-color: red;
  height: 100%;
  position: fixed;
  width: 100%;
  opacity: 0;
  z-index: 0;

  -ms-transform: scale($menu-hide-scale);
  -webkit-transform: scale($menu-hide-scale);
  transform: scale($menu-hide-scale);

  transition: transform .15s, opacity .15s;

  &.show {
    -ms-transform: scale($menu-show-scale);
    -webkit-transform: scale($menu-show-scale);
    transform: scale($menu-show-scale);
    opacity: 1;
    z-index: 100;
  }

  .hero {
    background-color: $color-black;

    .main-content {
      // @include mobile {
      //   margin-left: 20px;
      // }
    }

    ul {
      margin-left: 0;
      li {
        a {
          display: block;
          margin-bottom: 20px;
        }
      }
    }
  }
}
