$menu-icon-bar: 2px;
$menu-icon-size: 40px;
$menu-icon-size-space: 12px;

.menu-icon {

  cursor: pointer;
  height: $menu-icon-size;
  position: relative;
  width: $menu-icon-size;

  > div {
    background-color: $color-black;
    position: absolute;
    height: $menu-icon-bar;
    left: 7.5px;
    width: calc(100% - 15px);
    top: calc(50% - 1.5px);
    opacity: 1;
    transition: background-color .4s, opacity .4s;

    &:before, &:after {
      background-color: $color-pink;
      content: "";
      height: $menu-icon-bar;
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      transition: transform .4s, opacity .4s, background-color 1s;
      opacity: 0;
    }

  }

  &:before, &:after {
    background-color: $color-black;
    content: "";
    height: $menu-icon-bar;
    left: 7.5px;
    position: absolute;
    width: calc(100% - 15px);
    transition: opacity .2s, background-color .4s;
  }
  &:before {
    top: $menu-icon-size-space;
  }
  &:after {
    bottom: $menu-icon-size-space;
  }

  &.open {

    &:before, &:after {
      opacity: 0;
    }

    > div {
      background-color: transparent;

      &:before {
        transform: rotate(-45deg);
        background-color: $color-black;
        opacity: 1;
      }
      &:after {
        transform: rotate(45deg);
        background-color: $color-black;
        opacity: 1;
      }
    }
  }
}
