:root {
  --border-radius: 4px;
  --color-text: #232636;
  --color-grey: #333;
  --color-primary: #7026b9;
  --color-code-bg: #fff3e5;
  --color-code: #8a6534;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-lg: 20px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-lg);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}

body {
  background-color: var(--color-code-bg);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
  &.dark {
    background-color: var(--color-grey);
    color: var(--color-code-bg);

    footer {
      &:before {
        background-color: var(--color-code-bg);
      }
      &:after {
        border-bottom: 3px solid var(--color-code-bg);
        border-top: 2px solid var(--color-code-bg);
      }
    }
  }
}
a {
  background-color: transparent;
  color: inherit;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;

  &.external-link {
    position: relative;
    padding-right: 12px;
    span {
      position: absolute;
      right: 0;
      top: -4px;
      font-size: 12px
    }
    &:hover {
      span {
        transition: transform 0.2s;
        transform: translateX(2px) translateY(-2px);
      }
    }
  }
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

.pb-10 {
  padding-bottom: 10px
}
.page-404 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  svg {
    font-size: 10rem;
    @media (max-width:900px) {
      font-size: 6rem;
    }
  }
}

.icon-theme {
  cursor: pointer;
  height: 25px;
  display: block;
  margin-top: 4px;
}

.no-button {
  border: none;
  background: inherit;
  color: inherit;
}

footer {
  // border: 1px solid;
  min-height: 25vh;
  margin-top: 50px;

  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--color-text);
    bottom: 50%;
    left: 0;
    opacity: 0.3;
  }
  &:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    border-bottom: 3px solid var(--color-text);
    border-top: 2px solid var(--color-text);
    // background-color: var(--color-text);
    bottom: 15%;
    left: 0;
  }
  
  .sun {
    animation: rotate infinite 40s normal;
    font-size: 3em;
    position: absolute;
    left: 48.55%;
    top: 5px;
  }

  .vehicule {
    animation: vehicule-up-down infinite 1s normal;
  }
  .truck {
    animation: vehicule-up-down-2 infinite 1s normal;
    animation-delay: 1s;
  }

  .helicopter {
    margin-top: 50px;
    transform: scaleX(-1) rotate(15deg);
    animation: helicopter-up-down infinite 1s normal;
  }

  .road {
    position: absolute;
    bottom: 13.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
  }

  .road-dashed {
    position: absolute;
    bottom: 13.5%;
  }

  .town {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .closer1 {
    opacity: 1;
  }

  .closer2 {
    opacity: 0.6;
  }

  .closer3 {
    opacity: 0.3;
  }

  .clouds {
    position: absolute;
    bottom: 70%;
    height: 50px;
    width: 100%;
    & > div {
      position: absolute;
    }
  }

  .moutains {
    position: absolute;
    bottom: 35%;
    width: 100%;
    & > div {
      position: absolute;
    }
    height: 50px;
  }

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes vehicule-up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1px);
  }
}

@keyframes vehicule-up-down-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-1px);
  }
}

@keyframes helicopter-up-down {
  0% {
    transform: scaleX(-1) rotate(15deg) translateY(0);
  }
  100% {
    transform: scaleX(-1) rotate(15deg) translateY(-1px);
  }
}

@media only screen and (max-width: 600px) {
  .is-hidden-mobile {
    display: none;
  }
}