@import "~bulma";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');

html, body {
  color: 300;
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}
