.about-page {
  .intro {
    .columns {
      margin-top: 30px;
    }
  }
  .numbers {
    position: relative;
    img {
      @include mobile {
        max-width: 150px;
      }
      max-width: 250px;
    }
    .is-paragraph {
      @include mobile {
        margin-bottom: 20px;
      }
    }
    .columns {
      @include mobile {
        margin-top: 0;
      }
      margin-top: 40px;
    }
    .title {
      span {
        font-weight: normal;
      }
      &.is-5 {
        margin-top: 10px;
      }
    }
  }

  .whatcanido {
    position: relative;

    img {
      @include mobile {
        max-width: 150px;
      }
      margin-bottom: 20px;
      max-width: 250px;
    }

    .list {
      margin-top: 30px;

      p {
        margin-top: 20px;
      }
    }
  }

  .countries {
    position: relative;

    .content {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      .container {
        height: 100%;

        .columns {
          @include mobile {
            height: 100%;
            padding: 0;
          }
          height: calc(100% - 40px);
          padding: 20px 0;

          .column {
            @include mobile {
              height: 50%;
            }
            height: 100%;
            overflow: hidden;
            position: relative;

            &::before {
              @include desktop {
                transform: scale(1.05);
                transition: transform .4s;
              }
              @extend %before-after;
              z-index: -1;
            }

            &.paris {
              &::before {
                @include mobile {
                  background-size: cover;
                  background-position: center;
                }
                background-image: url('../assets/paris.jpg');
                background-position: -230px center;
              }
            }
            &.taipei {
              &::before {
                @include mobile {
                  background-size: cover;
                  background-position: center;
                }
                background-image: url('../assets/taipei.jpg');
                background-position: -660px center;
              }
            }

            &:hover {
              &::before {
                transform: scale(1);
              }
              > div {
                opacity: 1;
                transform: scale(1);
              }
            }

            > div {
              @include desktop {
                opacity: 0;
                transform: scale(.9);
                transition: transform .4s, opacity .4s;
              }
            }
          }
        }
      }
    }
  }

  .contact {
    @include mobile {
      padding: 50px 0;
    }

    a {
      @extend %hover-pink-line;
    }
  }
}
