.about-page {
  .intro {
    .columns {
      margin-top: 30px;
    }
  }
  .paris,
  .taipei {
    background-image: url('../assets/taipei.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;

    .description {
      width: 100%;
      * {
        color: $color-black;
      }
    }
  }
  .taipei {
    @include mobile {
      background-position: 55% center;
    }
    .sentence {
      left: 200px;
      position: absolute;
      top: 200px;
      color: $color-pink;
    }
  }
  .paris {
    @include mobile {
      background-position: 20% center;
    }
    background-image: url('../assets/paris.jpg');
    .sentence {
      right: 300px;
      position: absolute;
      top: 200px;
      color: $color-pink;
    }
  }

  .numbers {
    img {
      @include mobile {
        max-width: 200px;
      }
      max-width: 300px;
    }
    .is-paragraph {
      @include mobile {
        margin-bottom: 20px;
      }
    }
    .columns {
      @include mobile {
        margin-top: 0;
      }
      margin-top: 40px;
    }
    .title {
      span {
        font-weight: normal;
      }
      &.is-5 {
        margin-top: 10px;
      }
    }
  }
  .whatcanido {
    img {
      @include mobile {
        max-width: 200px;
      }
      max-width: 300px;
    }
    .list {
      margin-top: 30px;
      p {
        margin-top: 20px;
      }
    }
  }
}
