.list-articles {
  a {
    &.image {
      display: block;
      overflow: hidden;
      width: 100%;
    }
  }
  p {
    &.is-paragraph {
      margin-bottom: 20px;
    }
  }
  h5 {
    margin-top: 10px;
    span {
      font-family: 'Noto Sans TC', 'Microsoft Yahei', '微軟正黑體', sans-serif;

    }
  }
  .has-text-right a {
    @extend %hover-pink-line-small;
  }
}
