$bg-colo-error: rgba(0, 0, 0, 0.6);

.error-404 {
  background-position: center;
  background-size: cover;
  a,
  p,
  .title {
    color: $color-white;
  }
  a {
    display: block;
    margin-top: 20px;
  }

  &::before {
    @extend %before-after;
    background-color: $bg-colo-error;
  }
}
