.landing {
  section {
    &.first {
      position: relative;
    }

    .initial {
      animation: InitialAnimation 4s ease infinite;

      background: linear-gradient(300deg, $color-black, $color-pink);
      background-size: 400% 400%;

      height: 235px;
      left: calc(50% - 200px);
      position: absolute;
      top: calc(50% - 117.5px);
      width: 400px;
      z-index: 0;

      @keyframes InitialAnimation {
        0% {background-position: 0% 50%}
        50% {background-position: 100% 50%}
        100% {background-position: 0% 50%}
      }

      @include mobile {
        background-size: 300% 300%;
        height: 58px;
        left: inherit;
        position: absolute;
        right: 20px;
        top: calc(50% - 29.5px);
        width: 100px;
      }
    }

    .middle-content {
      position: relative;

      p {
        margin-bottom: 10px;

        &:first-child {
          width: 101px;
        }

        &:nth-child(2) {
          width: 230px;
        }

        &:last-child {
          width: 152px;
        }

        @include mobile {
          &:first-child {
            width: 54px;
          }

          &:nth-child(2) {
            width: 128px;
          }

          &:last-child {
            width: 85px;
          }
        }
      }
    }

    .social {

      p {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
