.landing {
  section {
    &.first {
      position: relative;
    }

    .caroussel {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 20;

      > div {
        @include mobile {
          background-size: 100% auto;
        }
        background: center $color-white no-repeat;
        background-size: auto 100%;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;

        &:nth-child(1) {
          background-image: url('../assets/sablier.jpg');
        }
        &:nth-child(2) {
          background-image: url('../assets/glasses.jpg');
        }
        &:nth-child(3) {
          background-image: url('../assets/whiskey.jpg');
        }

        &.show {
          animation: AnimationCaroussel 5s ease 1;
          // animation-delay: s;
          animation-fill-mode: forwards;
          @include animationcaroussel;
        }
      }
    }

    .caroussel-bar {
      bottom: 50px;
      height: 2px;
      left: 50px;
      position: absolute;
      width: calc(40px * 3);
      z-index: 400;

      > div {
        background-color: $color-grey-80;
        display: inline-block;
        height: 100%;
        margin-right: 10px;
        transition: background-color .4s;
        width: 30px;
        &:last-child {
          margin-right: 0;
        }
        &.active {
          background-color: $color-black;
        }
      }
    }

    .initial {
      animation: InitialAnimation 4s ease infinite;

      background: linear-gradient(300deg, $color-black, $color-pink);
      background-size: 400% 400%;

      height: 396px;
      left: calc(50% - 250px);
      position: absolute;
      top: calc(50% - 198px);
      width: 500px;
      z-index: -1;

      @keyframes InitialAnimation {
        0% {background-position: 0% 50%}
        50% {background-position: 100% 50%}
        100% {background-position: 0% 50%}
      }

      @include mobile {
        height: 198px;
        left: calc(50% - 125px);
        top: calc(50% - 99px);
        width: 250px;
      }
    }

    .middle-content {
      position: relative;

      p {
        margin-bottom: 10px;

        &:first-child {
          width: 101px;
        }

        &:nth-child(2) {
          width: 230px;
        }

        &:last-child {
          width: 152px;
        }

        @include mobile {
          &:first-child {
            width: 54px;
          }

          &:nth-child(2) {
            width: 128px;
          }

          &:last-child {
            width: 85px;
          }
        }
      }
    }

    .social {

      p {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .blog {

    .hero-body {
      align-items: stretch;
    }

    .columns {
      margin-top: 50px;

      .column {
        overflow: hidden;
        position: relative;
      }

      a {
        display: block;

        img {
          width: 100%;
        }
      }
    }
  }
}
