.landing {
  section {
    &.first {
      position: relative;
    }

    .initial {
      animation: InitialAnimation 4s ease infinite;

      background: linear-gradient(300deg, $color-black, $color-pink);
      background-size: 400% 400%;

      height: 400px;
      left: calc(50% - 200px);
      position: absolute;
      top: calc(50% - 200px);
      width: 400px;
      z-index: 0;

      @keyframes InitialAnimation {
        0% {background-position: 0% 50%}
        50% {background-position: 100% 50%}
        100% {background-position: 0% 50%}
      }

      @include mobile {
        background-size: 300% 300%;
        height: 100px;
        left: inherit;
        position: absolute;
        right: 20px;
        top: calc(50% - 50px);
        width: 100px;
      }
    }

    .middle-content {
      position: relative;

      p {
        margin-bottom: 10px;

        &:first-child {
          width: 101px;
        }

        &:nth-child(2) {
          width: 230px;
        }

        &:last-child {
          width: 152px;
        }

        @include mobile {
          &:first-child {
            width: 70px;
          }

          &:nth-child(2) {
            width: 165px;
          }

          &:last-child {
            width: 108px;
          }
        }
      }
    }

    .social {

      p {
        margin-bottom: 15px;
      }
    }
  }
  // .particles-content {
  //   border-radius: 200px;
  //   overflow: hidden;
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   top: 0;
  //   left: 0;
  //
  //   z-index: 0;
  //   canvas {
  //     box-shadow: 0 0 5px #ccc;
  //     border-radius: 250px;
  //     background-color: #fdfdfd;
  //     height: 500px !important;
  //     width: 500px !important;
  //
  //     position: absolute;
  //
  //     left: calc(50% - 250px);
  //     top: calc(50% - 250px);
  //
  //     @include mobile {
  //       display: none;
  //     }
  //   }
  // }
}
